<section>
    <div class="header-parent">
      <div class="header-logo-container" (click)="rootPage()">
            <img src="./assets/img/Logo-small.png" alt="Logo">
            <h2>DABubble</h2>
        </div>
    </div>
    <main>
        <div class="content">
        <h1>Imprint</h1>
        <p>Information according to § 5 TMG (German Telemedia Act)</p>
        <p>Danijel Savkovic<br />
            Praßlergasse 6<br />
            5020 Salzburg</p>
        <p><strong>Represented by: </strong><br />
            Adrian Herzberger<br>
            Daniel Hartmann<br>
            Joshua Trefzer<br>
            Danijel Savkovic<br>
            Maximilian Scheel<br>
        </p>
        <p><strong>Contact:</strong> <br />
            Phone: +436602622786<br />
            E-Mail: mail@danijel-savkovic.com</p>
        </div>
    </main>

    <div class="button-container">
        <button class="go-back-button">
            <span (click)="navigateBack()">Go back</span>
        </button>
    </div>
</section>
